body {
  background-color: rgba(0, 0, 0, 0.8);
}

.row {
  display: flex;
}

.item,
.equal {
  border: 2px solid rgba(255, 255, 255, 0.156);
  color: rgba(255, 255, 255, 0.7);
  flex: 1;
  font-size: x-large;
  padding: 4px;
  text-align: center;
}

.item {
  background: rgba(0, 0, 0, 0.6);
}

.delete {
  background: red;  
}

.equal {
  background: green;
}
  
#display {
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.156);
  padding: 4px;
  font-size: x-large;
  height: 33px;
}