.row {
  display: flex;
}

.item,
.equal {
  border: 2px solid rgba(255, 255, 255, 0.156);
  color: white;
  flex: 1;
  font-size: x-large;
  padding: 4px;
  text-align: center;
}

.item {
  background: rgb(0, 0, 0);
}

.delete {
  background: red;  
}

.equal {
  background: green;
}
  
#display {
  background: rgb(0, 0, 0);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.156);
  padding: 4px;
  font-size: x-large;
}